@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  letter-spacing: -.025em;
  @apply font-primary bg-secondary;
}
